
.navbar-brand {
    padding: 3px 5px;
}

.navbar-nav {
    margin: 0 !important;
}

.pd-tb {
    padding-top: 100px;
    padding-bottom: 100px;
}

.meet-dr p {
    color: #000000;
    font-size: 15px;
    line-height: 40px !important;
}

.about {
    background: url(../images/about-bg.jpg) no-repeat top center;
    padding-top: 150px;
    padding-bottom: 150px;
    background-size: 90% 122%;
    background-position: 200% 33%;
}

.pd-top {
    padding-top: 20px;
}

i.fa.fa-facebook-f {
    background: #3578E5;
    font-size: 24px;
    width: 40px;
    height: 40px;
    border-radius: 34px;
    color: #fff;
    padding: 9px 13px;
}

i.fa.fa-whatsapp {
    background: #00e676;
    font-size: 25px;
    width: 40px;
    height: 40px;
    border-radius: 34px;
    color: #fff;
    padding: 8px 10px;
}

.social .fa {
    margin-left: 10px;
    margin-top: 10px;
}

li#sub ul {
    display: none;
    position: absolute;
    left: 15%;
    top: 1;
    width: 200px;
}

li#sub:hover ul {
    display: block;
}

ul.dark_menu li:hover ul {
    position: absolute;
    display: block;
    z-index: 1000;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    left: 0;
    border-radius: 0px 0px 5px 5px;
    padding: 5px 0;
    list-style: none;
    background: white;
    border-radius: 5px;
    width: fit-content;
}

.dropdown-toggle::after {
    display: inline-block;
    margin-left: .255em;
    vertical-align: .255em;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
}

.top_heading {
    text-align: center;
    background-size: cover;
    height: 435px;
}

.top_heading h2 {
    color: blue;
}

.sub_text {
    margin-top: 30px;
}

.heading {
    height: 1px;
    width: 30%;
    background-color: black;
   
    margin-top: 3px;
    margin-bottom: 20px;
}

.sub_text img {
    width: 500px;
    margin-top: 35px;
}
.myBox:hover{
cursor: pointer;
}