/*

Template 2098 Health

http://www.tooplate.com/view/2098-health

*/

  @import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600');

  body {
    background: #ffffff;
    font: normal normal normal 14px/24px Roboto;
    overflow-x: hidden;
  }


  /*---------------------------------------
     TYPOGRAPHY              
  -----------------------------------------*/

  h1,h2,h3,h4,h5,h6 {
    font-weight: 600;
    line-height: inherit;
  }

  h5 {
    font-weight: 500;
  }

  h1 {
    font-size: 5em;
  }

  h2 {
    font-size: 3em;
    padding-bottom: 10px;
  }

  h3 {
    font-size: 1.8em;
    line-height: 1.2em;
    margin-bottom: 0;
  }

  h4 {
    font-size: 1.8em;
    padding-bottom: 2px;
  }

  h6 {
    letter-spacing: 0;
    font-weight: normal;
  }

  /*---------------------------------------
     GENERAL               
  -----------------------------------------*/

  html{
    -webkit-font-smoothing: antialiased;
  }

  a {
    color: #252525;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    text-decoration: none !important;
  }

  ::-webkit-scrollbar{
    width: 8px;
    height: 8px;
  }

  ::-webkit-scrollbar-thumb {
    cursor: pointer;
    background: #000000;
  }

  .section-title {
    padding-bottom: 20px;
  }

  .section-title h2 {
    margin-top: 0;
    font-size: 2.5em;
    margin-bottom: 25px;
    color: #08083D;
  }

  .section-btn {
    background: #a5c422;
    border: 0;
    border-radius: 3px;
    color: #ffffff;
    font-size: inherit;
    font-weight: 500;
    padding: 14px 20px;
    transition: transform 0.1s ease-in;
    transform: translateX(0);
  }

  .section-btn:hover {
    transform: translateY(-5px);
  }

  .text-align-right {
    text-align: right;
  }

  .text-align-center {
    text-align: center;
  }

  .border-top {
    border-top: 1px solid #f2f2f2;
    margin-top: 4em;
    padding-top: 2.5em;
  }

  .btn-gray {
    background: #393939;
  }

  .btn-blue {
    background: #4267b2;
  }

  .news-thumb {
  text-align: center;
  }
  .news-thumb img {
    margin: auto;
    width: 45%;
  }

  .news-info {
    padding: 20px 0;
  }
  .news-info span {
    display: block;
    letter-spacing: 0.5px;
  }
  .news-info h3 {
    font-size: 1.8rem;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #08083D;
  }
  .news-info p {
    color: #08083D;
    font-weight: 500;
  }
  #steps{
    background: transparent linear-gradient(139deg, #6184D8 0%, #08083D 100%) 0% 0% no-repeat padding-box;
    padding-top: 60px;
    padding-bottom: 60px;
    color: white;
  }
  #steps h2{
    font-size: 3rem;
    line-height: 38px;
  }
  #steps h6{
  color: #23CE6B;
  font-size: 16px;
  margin-bottom: 0px;
  }
  #steps h5{
    margin-top: 5px;
    font-size: 20px;
  }
  #steps p{
    margin-bottom: 35px;
  }
  #steps .icon-circle {
    background: transparent linear-gradient(328deg, #4D80FB 0%, #23CE6B 100%) 0% 0% no-repeat padding-box;
    width: 65px;
    height: 65px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #steps .icon-circle img{
    width: 80%!important;
  }
  #steps .ShowFlex{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  #Franchise{
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 90px;
    padding-bottom: 90px;
  }
  #Franchise h3{
  color: white;
  font-size: 3rem;
  }
  #Franchise h4{
  color: #23CE6B;
  font-size: 3rem;
  margin-top: 8px;
  margin-bottom: 15px;
  }
  #Franchise p{
    color: white;
    font-size: 1.5rem;
  }
  #Franchise button{
    background: #23CE6B 0% 0% no-repeat padding-box;
    box-shadow: 0px 8px 8px #23CE6B80;
    border-radius:50px;
    border: 0;
    padding: 13px 25px;
    margin-top: 20px;
    color: white;
    font-weight: 600;
    font-size: 1.3rem;
  }
  #Stories{
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 60px;
    padding-bottom: 0;
  }
  #Stories .container-fluid{
    padding: 0;
  }

  #Stories h3{
    text-align: center;
    font-size: 3rem;
    color: white;
  }
  #Stories h4{
    text-align: center;
    font-size: 1.5rem;
    color: white;
    margin-bottom: 30px;
    font-weight: 300;
  }
  #Stories .Story{

    background-color: #23CE6B;
    text-align: center;
    color: white;
    padding: 25px;
  }
  #Stories .Story2{
background-color: #08083D;
  }
  #Stories .Story3{
    background-color: #6184D8;
      }
  #Stories .Story p{
  font-size: 1rem;
  margin-top: 12px;
  margin-bottom: 30px;
  }
 
  #Stories .Story .img{
    width: 60%;
    cursor: pointer;
  }
  #Stories .Story h5{
    margin-bottom: 0;
    margin-top: 17px;
  }
  #Stories .Story h6{
    margin: 0;
  }
  #guarantee{
    background: transparent linear-gradient(114deg, #6184D8 0%, #08083D 100%) 0% 0% no-repeat padding-box;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    color: white;
  }
  #guarantee h2{
    font-size: 3rem;
    margin-bottom: 0;
    line-height: 40px;
  }

  #guarantee p{
    font-size: 1.4rem;
    margin: 15px 0;
  }
  #guarantee h6{
    font-size: 1.4rem;
    font-weight: 600;
    letter-spacing: 1px;
  }
  #guarantee button{
    background: #23CE6B 0% 0% no-repeat padding-box;
    box-shadow: 0px 8px 8px #23CE6B80;
    border-radius:50px;
    border: 0;
    padding: 13px 25px;
    margin-top: 20px;
    color: white;
    font-weight: 600;
    font-size: 1.3rem;
  }
  #meetus{
    background-color: white;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  #meetus h2{
  color: #08083D;
  font-size: 3rem;
    font-weight: bold;
    line-height: 35px;
    padding-bottom: 0;
  }
  #meetus p{
    color: #08083D;
    font-size: 1.5rem;
    font-weight: 600;
  }
  #meetus button{
    background: #23CE6B 0% 0% no-repeat padding-box;
    box-shadow: 0px 8px 8px #23CE6B80;
    border-radius:50px;
    border: 0;
    padding: 13px 25px;
    margin-top: 20px;
    color: white;
    font-weight: 600;
    font-size: 1.3rem;
  }
  #meetus img{
    margin-right: 10%;
    width: 70%;
  }
  #meetus .imagestyle {
    position: relative;
    overflow: hidden;
    text-align: right;
  }
  #meetus .imagestyle::before {
    content: "";
    position: absolute;
    width: 58%;
    height: 37%;
    top: 25%;
    left: -11%;
    z-index: 0;
    background: white 0 0 repeat;
    transform: rotate(71deg);
  }
  #meetus .imagestyle::after {
    content: "";
    position: absolute;
    width: 50%;
    height: 58%;
    top: 15%;
    right: -17%;
    z-index: 0;
    background: white 0 0 repeat;
    transform: rotate(76deg);
  }
  .author {
    border-top: 1px solid #f0f0f0;
    padding-top: 1.5em;
    margin-top: 2em;
  }
  .author img,
  .author .author-info {
    display: inline-block;
    vertical-align: top;
  }
  .author-info h5 {
    margin-bottom: 0;
  }
  .author img {
    border-radius: 100%;
    width: 50px;
    height: 50px;
    margin-right: 10px;
  }


  #about, #team, #news,
  #news-detail {
    position: relative;
    padding-top: 40px;
    padding-bottom: 30px;
  }

  #news, #service {
    text-align: center;
  }

  /*---------------------------------------
       PRE LOADER              
  -----------------------------------------*/

  .preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99999;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    background: none repeat scroll 0 0 #ffffff;
  }

  .spinner {
    border: 1px solid transparent;
    border-radius: 3px;
    position: relative;
  }

  .spinner:before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 45px;
    height: 45px;
    margin-top: -10px;
    margin-left: -10px;
    border-radius: 50%;
    border: 1px solid #575757;
    border-top-color: #ffffff;
    animation: spinner .9s linear infinite;
  }

  @-webkit-@keyframes spinner {
    to {transform: rotate(360deg);}
  }

  @keyframes spinner {
    to {transform: rotate(360deg);}
  }


  /*---------------------------------------
      MENU              
  -----------------------------------------*/

  .navbar-default {
    background: #08083d;
    box-shadow: 0 2px 8px rgba(0,0,0,.075);
    border: none;
    margin-bottom: 0;
    padding: 10px;
    
  }

  .navbar-default .navbar-brand {
    color: #ffffff;
    font-weight: 500;
    display: flex;
    align-items: center;
  }

  .navbar-default .navbar-brand .fa {
    color: #23ce6b;
  }

  .navbar-default .navbar-nav li.appointment-btn {
    margin: 7px 0 0 20px;
  }

  .navbar-default .navbar-nav li.appointment-btn a {
    background: #23ce6b;
    border-radius: 3px;
    color: #ffffff;
    font-weight: 600;
    padding-top: 8px;
    padding-bottom: 8px;
  }

  .navbar-default .navbar-nav li.appointment-btn a:hover {
    background: #4267b2;
    color: #ffffff !important;
  }

  .navbar-default .navbar-nav li a {
    color: #ffffff;
    font-size: 12px;
    font-weight: 500;
    padding-right: 20px;
    padding-left: 20px;
    -webkit-transition: all ease-in-out 0.4s;
    transition: all ease-in-out 0.4s;
  }

  .navbar-default .navbar-nav > li a:hover {
    color: #dddddd !important;
  }

  .navbar-default .navbar-nav > li > a:hover,
  .navbar-default .navbar-nav > li > a:focus {
    color: #ffffff;
    background-color: transparent;
  }

  .navbar-default .navbar-nav > .active > a,
  .navbar-default .navbar-nav > .active > a:hover,
  .navbar-default .navbar-nav > .active > a:focus {
    color: #ffffff;
    background-color: transparent;
  }

  .navbar-default .navbar-toggle {
    border: none;
    padding-top: 10px;
    float: left;
  }

  .navbar-default .navbar-toggle .icon-bar {
    background: #ffffff;
    border-color: transparent;
  }

  .navbar-default .navbar-toggle:hover,
  .navbar-default .navbar-toggle:focus { 
    background-color: transparent;
  }

  /*---------------------------------------
      HOME              
  -----------------------------------------*/

#home p{
  font-size: 1.3rem;
  margin: 26px 0px;
  line-height: 20px;
  color: white
}
#home button{
  background: #23ce6b;
  color: white;
  padding: 7px 18px;
  border-radius: 50px;
  box-shadow: 0px 2px 4px 2px #23ce6b;
  border: 0;
  margin-top: 20px;
  transition: .4s;
}
#home button:hover{
  cursor: pointer;
  margin-top: 5px;
  transition: .4s;
}
#home button img{
  width: 7%;
  margin-left: 5px;
}
  /*---------------------------------------
      ABOUT              
  -----------------------------------------*/

  #about {
    background-size: cover;
    padding-top: 35px;
    padding-bottom: 35px;
  }
  #about h2{
    font-size: 2.5rem;
    margin-left: 35px;
  }
  #about .about-info ul{
    list-style-type: none;
    padding: 0;
    line-height: 31px;
  }
  #about .about-info ul li{
  font-weight: 500;
  font-size: 12px;
  font-weight: 600;
  }
  .about-info .fa-check{
    color: #23ce6b;
    margin-right: 15px;
  }
  #Services{
    background-color:#08083D;
    padding-top: 35px;
    padding-bottom: 35px;
  }
  #Services .row{
    align-items: center;
    justify-content: center;
    margin-top: 35px;
  }
  #Services .col-lg-4{
    padding: 0;
  }
  #Services h6{
      color: white;
      font-size: 13px;
  }
  #Services h2{
    color: white;
    text-align: center;
    margin-bottom: 18px
  }
  #Services p{
    color: white;
    text-align: center;
  }
  #Services .product{
    padding: 5px;
  border: 1px solid white;
  border-radius: 6px;
  width: 90%;
  margin: auto;
  }
  #Services .smallProduct{
    padding: 5px;
  border: 1px solid #9f9f9f;
  border-radius: 6px;
  width: 85%;
  margin: auto;
  }
  
  #Services .product img{
    width: 100%;
  }
  #Services .smallProduct img{
    width: 100%;
  }
  #Services2{
    background-color:#6184D8;
    padding-top: 8%;
    padding-bottom: 8%;
    color: white;
    position: relative;
  }
  #Services2 .col-lg-7{
    position: unset;
  }
  #Services2 h3{
    color: #23CE6B;
  }
  #Services2 h4{
    margin-bottom: 30px;
  }
  #Services2 p{
    line-height: 25px;
    margin-bottom: 20px;
  }
  #Services2 a{
    color: white;
cursor: pointer;
  }
  #Services2 .backimage{
    width: 80%;
    position: relative;
    z-index: 0;
  }
  #Services2 .Frontimage{
    width: 40%;
    position: absolute;
    right: 0;
    top: 6%;
    z-index: 1;
  }
/* -----------slider on mobile --------------------*/
@-webkit-keyframes L_circle_rotate{0%{-webkit-transform:rotate(0);transform:rotate(0)}100%{-webkit-transform:rotate(360deg);transform:rotate(360deg)}}@keyframes L_circle_rotate{0%{-webkit-transform:rotate(0);transform:rotate(0)}100%{-webkit-transform:rotate(360deg);transform:rotate(360deg)}}@-webkit-keyframes L_stroke_rotate{0%{-webkit-transform:rotate(0);transform:rotate(0)}12.5%{-webkit-transform:rotate(135deg);transform:rotate(135deg)}25%{-webkit-transform:rotate(270deg);transform:rotate(270deg)}37.5%{-webkit-transform:rotate(405deg);transform:rotate(405deg)}50%{-webkit-transform:rotate(540deg);transform:rotate(540deg)}62.5%{-webkit-transform:rotate(675deg);transform:rotate(675deg)}75%{-webkit-transform:rotate(810deg);transform:rotate(810deg)}87.5%{-webkit-transform:rotate(945deg);transform:rotate(945deg)}100%{-webkit-transform:rotate(1080deg);transform:rotate(1080deg)}}@keyframes L_stroke_rotate{0%{-webkit-transform:rotate(0);transform:rotate(0)}12.5%{-webkit-transform:rotate(135deg);transform:rotate(135deg)}25%{-webkit-transform:rotate(270deg);transform:rotate(270deg)}37.5%{-webkit-transform:rotate(405deg);transform:rotate(405deg)}50%{-webkit-transform:rotate(540deg);transform:rotate(540deg)}62.5%{-webkit-transform:rotate(675deg);transform:rotate(675deg)}75%{-webkit-transform:rotate(810deg);transform:rotate(810deg)}87.5%{-webkit-transform:rotate(945deg);transform:rotate(945deg)}100%{-webkit-transform:rotate(1080deg);transform:rotate(1080deg)}}@-webkit-keyframes L_stroke_left_grow{0%,100%{-webkit-transform:rotate(-5deg);transform:rotate(-5deg)}50%{-webkit-transform:rotate(-140deg);transform:rotate(-140deg)}}@keyframes L_stroke_left_grow{0%,100%{-webkit-transform:rotate(-5deg);transform:rotate(-5deg)}50%{-webkit-transform:rotate(-140deg);transform:rotate(-140deg)}}@-webkit-keyframes L_stroke_right_grow{0%,100%{-webkit-transform:rotate(5deg);transform:rotate(5deg)}50%{-webkit-transform:rotate(140deg);transform:rotate(140deg)}}@keyframes L_stroke_right_grow{0%,100%{-webkit-transform:rotate(5deg);transform:rotate(5deg)}50%{-webkit-transform:rotate(140deg);transform:rotate(140deg)}}.loader-circle{top:50%;left:50%;z-index:1;color:#444;margin-top:-1em;margin-left:-1em;position:absolute;-webkit-animation:L_circle_rotate 1.568s linear infinite both;animation:L_circle_rotate 1.568s linear infinite both}.loader-circle .loader-stroke-left:before,.loader-circle .loader-stroke-right:before,.loader-circle:before{content:'';display:block;border-style:solid;border-width:.21429em;border-color:currentColor}.loader-circle,.loader-circle .loader-stroke-left,.loader-circle .loader-stroke-left:before,.loader-circle .loader-stroke-right,.loader-circle .loader-stroke-right:before,.loader-circle:before{width:2em;height:2em;border-radius:50%;box-sizing:border-box}.loader-circle .loader-stroke-left:before,.loader-circle .loader-stroke-right{position:absolute;clip:rect(0 2em 2em 1em)}.loader-circle .loader-stroke-left,.loader-circle .loader-stroke-right:before{position:absolute;clip:rect(0 1em 2em 0)}.loader-circle:before{position:absolute;clip:rect(0 1.05em 1em .95em)}.loader-circle .loader-stroke-left,.loader-circle .loader-stroke-right,.loader-circle:before{-webkit-animation:L_stroke_rotate 5332ms cubic-bezier(.4,0,.2,1) infinite both;animation:L_stroke_rotate 5332ms cubic-bezier(.4,0,.2,1) infinite both}.loader-circle .loader-stroke-right:before{-webkit-animation:L_stroke_right_grow 1333ms cubic-bezier(.4,0,.2,1) infinite both;animation:L_stroke_right_grow 1333ms cubic-bezier(.4,0,.2,1) infinite both}.loader-circle .loader-stroke-left:before{-webkit-animation:L_stroke_left_grow 1333ms cubic-bezier(.4,0,.2,1) infinite both;animation:L_stroke_left_grow 1333ms cubic-bezier(.4,0,.2,1) infinite both}
.mhn-slide .mhn-item{
  width:100%;
  padding:10px;
}
.mhn-slide .mhn-inner{
  width:100%;
  height:100%;
  border-radius:3px
}
/* .mhn-slide .mhn-item img{display:none} */
.mhn-slide .mhn-img{
  min-height:200px;
  overflow:hidden;
  height:100%;
  width:100%;
  color:white;
  background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=) #eee no-repeat center/cover;
  position:relative
}
.mhn-slide .mhn-text{
  text-align:center;
  padding:0 10px
}
.mhn-slide .mhn-text h4{
  font-weight:700;
  white-space:nowrap;
  text-overflow:ellipsis;
  overflow:hidden
}
.mhn-slide .mhn-text p{
  max-height:4.5em;
  overflow:hidden
}
.mhn-slide .owl-stage-outer{
  z-index:1
}
.mhn-slide .owl-nav{
  color: white;
  font-size: 20px!important;
  display: flex!important;
  align-items: center!important;
  justify-content: center!important;
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0
}
.mhn-slide .owl-nav svg{color:currentColor}
.mhn-slide .owl-nav .disabled{display:none}
.mhn-slide .owl-prev,
.mhn-slide .owl-next{
	top:110px;
	z-index:2;
	width:40px;
	height:40px;
	padding:8px;
	margin-top:-20px;
	position:absolute;
	border-radius:50%;
	background-color:#6184d8;
	box-shadow:0 4px 4px rgba(0,0,0,.3),0 0 4px rgba(0,0,0,.2)
}
.mhn-slide .owl-prev{
  left:-25px;
  font-size: 20px!important;
  display: flex!important;
  align-items: center!important;
  justify-content: center!important;
}
.mhn-slide .owl-next{
  right:-25px;
  font-size: 20px!important;
  display: flex!important;
  align-items: center!important;
  justify-content: center!important;
}
/* -----------slider on mobile --------------------*/
  .profile img,
  .profile figcaption {
    display: inline-block;
    vertical-align: top;
    margin-top: 1em;
  }
  .profile img {
    border-radius: 100%;
    width: 65px;
    height: 65px;
    margin-right: 1em;
  }
  .profile figcaption h3 {
    margin-top: 0;
  }

  #about h6 {
    color: #858585;
    margin: 0;
  }

  /*---------------------------------------
     SERVICE              
  -----------------------------------------*/

  #service {
    background: #a5c422;
  }

  #service h2,
  #service h4 {
    color: #ffffff;
  }

  #service p {
    color: #d9d9d9;
  }

  #service .service-thumb {
    padding: 0 22px;
  }

  #service .fa {
    font-size: 50px;
    margin-bottom: 10px;
    background: #ffffff;
    color: #a5c422;
    width: 120px;
    height: 120px;
    line-height: 120px;
    border-radius: 100%;
  }


  /*---------------------------------------
      NEWS             
  -----------------------------------------*/

  #news, #news-detail {
    background: white;
  }

  #news-detail blockquote {
    margin: 30px 0;
  }

  .news-detail-thumb .news-image img {
    border-radius: 10px;
  }

  .news-detail-thumb h3 {
    margin-bottom: 8px;
  }

  .news-image {
    margin-bottom: 30px;
    position: relative;
  }

  .news-image img {
    width: 100%;
  }

  .news-detail-thumb ul {
    margin: 32px 12px 22px 0px;
  }

  .news-detail-thumb ul li {
    list-style: circle;
    font-weight: normal;
    padding: 6px 12px 6px 0px;
  }

  .news-sidebar {
    margin-top: 16px;
  }

  .news-social-share {
    text-align: center;
    padding-top: 22px;
  }

  .news-social-share .btn {
    border-radius: 100px;
    border: none;
    font-size: 10px;
    font-weight: 600;
    margin: 2px 6px;
    padding: 8px 14px;
  }

  .news-social-share .btn-primary {
    background: #3b5998;
  }

  .news-social-share .btn-success {
    background: #1da1f2;
  }

  .news-social-share .btn-danger {
    background: #dd4b39;
  }

  .news-social-share a .fa {
    padding-right: 4px;
  }

  .recent-post {
    padding-top: 2px;
    padding-bottom: 18px;
  }

  .recent-post .media img {
    border-radius: 100%;
    width: 80px;
    height: 80px;
    margin-right: 5px;
  }

  .recent-post .media-heading {
    font-size: 16px;
    font-weight: 500;
    line-height: inherit;
    margin-top: 5px;
  }

  .news-categories {
    margin-top: 8px;
  }

  .news-categories li a {
    color: #2b2b2b;
  }

  .news-ads {
    background: #ffffff;
    border-right: 4px solid #2b2b2b;
    padding: 42px;
    text-align: center;
    margin: 26px 0 26px 0;
  }

  .news-ads.sidebar-ads {
    border-left: 4px solid #2b2b2b;
    border-right: 0px;
  }

  .news-ads h4 {
    font-size: 18px;
  }

  .news-tags h4 {
    padding-bottom: 6px;
  }

  .news-categories li,
  .news-tags li {
    list-style: none;
    display: inline-block;
    margin: 4px;
  }

  .news-tags li a {
    background: #393939;
    border-radius: 50px;
    color: #ffffff;
    display: inline-block;
    font-size: 12px;
    font-weight: 500;
    text-decoration: none;
    float: left;
    min-width: 30px;
    padding: 6px 12px;
    -webkit-transition: all ease-in-out 0.4s;
    transition: all ease-in-out 0.4s;
  }

  .news-tags li a:hover {
    background: #4267b2;
  }

  /*---------------------------------------
     FOOTER              
  -----------------------------------------*/

  footer {
    padding: 15px 0;
    background: url('../images/Footer_background.svg') no-repeat top center;
    background-size: cover;
    color: white;
  }
  footer .GetInTouch{
    width: 2%;
    margin-left: 5px;
  }
  footer .socialIcons{
    width: 10%;
    margin-left: 12px;
  }
  footer h4 {
    padding-bottom: 5px;
    text-align: right;
    font-size: 1.7rem;
  }
  footer p {
    text-align: right;
    font-size: 1.2rem;
    font-weight: 100;
    letter-spacing: 1px;
    color: #ababab;
    margin-bottom: 5px;
  }
  footer a {
    color: #757575;
  }
  footer .display_a{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  footer a:hover {
    color: #ffffff;
    cursor: pointer;
  }
  footer .footer_menu{
margin-top: 20px;
  }
  .contact-info {
    padding-top: 10px;
  }

  .contact-info .fa {
    background: #393939;
    border-radius: 100%;
    color: #ffffff;
    font-size: 15px;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    margin-right: 5px;
    margin-bottom: 2px;
  }

  .latest-stories {
    margin-bottom: 20px;
  }

  .stories-image,
  .stories-info {
    display: inline-block;
    vertical-align: top;
  }

  .stories-image img {
    border-radius: 100%;
    width: 65px;
    height: 65px;
  }

  .stories-info {
    margin-left: 15px;
  }

  .stories-info h5 {
    margin-bottom: 2px;
  }

  .stories-info span {
    color: #858585;
    font-size: 12px;
  }

  .opening-hours p {
    line-height: 18px;
  }

  .opening-hours span {
    font-weight: 500;
    display: inline-block;
    padding-left: 10px;
  }

  .footer-link a {
    color: #858585;
    font-size: 12px;
    font-weight: 500;
  }

  .footer-link a {
    font-size: 12px;
    display: inline-block;
    padding: 0 10px;
    margin-top: 4px;
  }

  /*---------------------------------------
     SOCIAL ICON              
  -----------------------------------------*/

  .social-icon {
    position: relative;
    padding: 0;
    margin: 0;
  }

  .social-icon li {
    display: inline-block;
    list-style: none;
  }

  .social-icon li a {
    border-radius: 100px;
    color: #464646;
    font-size: 15px;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-decoration: none;
    text-align: center;
    transition: all 0.4s ease-in-out;
    position: relative;
  }

  .social-icon li a:hover {
    background: #4267b2;
    color: #ffffff;
  }


  /*---------------------------------------
     RESPONSIVE STYLES              
  -----------------------------------------*/

  @media only screen and (max-width: 1200px) {
    h1 {
      font-size: 4em;
    }
    h2 {
      font-size: 2.5em;
    }
    h3 {
      font-size: 1.5em;
    }

    .navbar-default .navbar-nav li a {
      padding-right: 15px;
      padding-left: 15px;
    }
  }

  @media only screen and (max-width: 992px) {
    .slider .item {
      background-position: center;
    }

  }

  @media only screen and (max-width: 767px) {
    .navbar-default .navbar-collapse, .navbar-default .navbar-form {
      border-color: transparent;
    }
    .navbar-default .navbar-nav li.appointment-btn {
      margin-left: 15px;
    }
    .navbar-default .navbar-nav li a {
      display: inline-block;
      padding-top: 8px;
      padding-bottom: 8px;
    }

    .news-sidebar {
      margin-top: 2em;
    }

    #appointment-form {
      padding-top: 4em;
      padding-bottom: 4em;
    }

    footer {
      padding-top: 20px;
      padding-bottom: 20px;

    }
    .footer-thumb {
      padding-bottom: 10px;
    }

    .border-top {
      text-align: center;
    }

    .copyright-text {
      margin-top: 10px;
    }

    .angle-up-btn {
      bottom: 10em;
    }
  }

  @media only screen and (max-width: 639px) {
    h1 {
      font-size: 3em;
      line-height: 1.2em;
    }
    h2 {
      font-size: 2.1em;
    }
    h4 {
      font-size: 1.4em;
    }
    .navbar-brand {
      padding: 3px 75px;
  }

  }
.mobile_section .row{
display: flex;
}
.mobile_section .img{
  width: 35%;
  margin-bottom: 10px;
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 320px) {
  #Stories .Story .icon {
    width: 12%;
    margin-bottom: 20px;
}
  #steps .icon-circle{
    width: 55px;
    height: 55px;
  }
  .Terms_condition{
    display: block;
  }
  footer p{
    text-align: center;
  }
  .display_a{
   display: none!important;
  }
  #meetus{
    text-align: center;
  }
  #meetus .imagestyle{
    display: none;
  }
  #guarantee p{
    text-align: left;
  }
  #guarantee h6{
    text-align: left;
  }
  #guarantee img{
    width:50%;
  }
  #Stories{
    background: none;
    background-color: #08083f99;
  }
  #Stories .Story{
    width: 100%;
  }
  #Stories .Set_Stories{ 
    display: block;
  }
  #Franchise{
    background: none;
    background-color: #08083D;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 50px;
  }
  #steps .OnLastStep {
    box-shadow: 4px 4px 10px #6184d8;
    border: 1px solid #FFFFFF;
    border-radius: 15px;
    opacity: 1;
    padding: 5px 15px;
    width: 100%;
    margin: auto;
    text-align: center;
}
  #steps .ShowFlex img {
    width: 8%;
    cursor: pointer;
    display: flex;
    margin: auto;
}
  #Services2 h3{
    text-align: center;
  }
  #Services2 h4{
    text-align: center;
  }
  #Services2 .backimage{
    display: none;
  }
  #Services2 .Frontimage{
    display: none;
  }
  .show_laptop{
display: none!important;
  }
  .show_mobile{
display: flex!important;
  }
  #Services p{
    font-size: 1rem;
    padding: 0;
  }
  #Services h2{
    font-size: 2rem;
    padding: 0;
    line-height: 30px;
  }
  #about h2{
color: white;
  }
  #about {
    background: url('../images/about_mobile.png') no-repeat top center;
    color: white!important;
    background-size: cover;
    padding-top: 60px;
    padding-bottom: 65px;
  }
  #about .about-info ul li{
color: white;
  }
  .news-info{
    padding: 10px 0;
    font-size: 1.2rem;
  }
  .mobile_section{
    display: block;
  }
  .section-title h2{
    font-size: 1.5em;
    margin-bottom: 5px;
  }
  .navbar-default{
    border-bottom: 0;  
  }
  .sticky-wrapper{
    height: 68px!important;
  }
  #home{
    background: url('../images/mobile_home_image.svg') no-repeat top center;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
  }
  #home{
    text-align: center;
    height: 95vh;
  }
    
  #home .laptopimage{
  display: none;
  }
  #home .mobileimage{
    display: block;
    width: 100%;
    margin-top: 40px;
  }
  #home h2 {
    font-size: 2rem;
    margin-bottom: 0;
    padding-bottom: 0;
    margin-top: 12%;
    color: white;
    line-height: 31px;
    padding: 0 20px;

}
#home h3{
  font-size: 2rem;
  margin-top: 10px;
  cursor: pointer;
  color: white
}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  #Stories .Story .icon{
    width: 20%;
    margin-bottom: 20px;
  }
  #steps .icon-circle{
    width: 65px;
    height: 65px;
  }
  .Terms_condition{
    display: none;
  }
  footer p{
    text-align: right;
  }
  .display_a{
    display: flex!important;
   }
  #meetus{
    text-align: left;
  }
  #meetus .imagestyle{
    display: block;
  }
  #guarantee p{
    text-align: center;
  }
  #guarantee h6{
    text-align: center;
  }
  #guarantee img{
    width:25%;
  }
  #Stories{
    background: url('../images/Stories.png') no-repeat top center;
  }
  #Stories .Story{
    width: 20%;
  }
  #Stories .Set_Stories{ 
    display: flex;
  }
  #Franchise{
    background: url('../images/Franchise.png') no-repeat top center;
    text-align: left;
    padding-top: 90px;
    padding-bottom: 90px;
  }
  #steps .OnLastStep{
    box-shadow: 6px 6px 2px #6184d8;
    border: 1px solid #FFFFFF;
    border-radius: 15px;
    opacity: 1;
    padding: 15px;
    width: 70%;
    margin: auto;
    text-align: center;
  }
  #steps .ShowFlex img{
    width: 6%;
    cursor: pointer;
    margin: 0;
  }
  #Services2 h3{
    text-align: left;
  }
  #Services2 h4{
    text-align: left;
  }
 
  .show_laptop{
    display: flex!important;
      }
      .show_mobile{
    display: none!important;
      }
  #Services p{
    font-size: 1.2rem;
    padding: 0 145px;
  }
  #Services h2{
    font-size: 2.4rem;
    padding: 0 145px;
    line-height: 35px;
  }
  #about h2{
    color:#08083D;
      }
  #about {
    background-color:#00e9011f;
    background-image: none;
  }
  #about .about-info ul li{
    color: #08083d;
      }
  .mobile_section{
    display: none;
  }
  .navbar-default{
    border-bottom: 1px solid white; 
  }
  .sticky-wrapper{
    height: 70px;
  }
  #home{
    background: url('../images/home_img.png') no-repeat top center;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
  }
  #home {
    text-align: left;
    height: 45vh;
  }
  
  #home .laptopimage{
    width: 100%;
    margin-top: 77px;
    display: block;
  }
  #home .mobileimage{
    display: none;
  }
  #home h2{
    font-size: 3rem;
    margin-bottom: 0;
    padding-bottom: 0;
    margin-top: 25%;
    color: white;
    padding: 0;
  }
  #home h3{
    font-size: 3rem;
    margin-top: 10px;
    cursor: pointer;
    color: white;
    background-color: #316EFF;
    width: fit-content;
    padding: 2px 10px;
  }
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  #home {
    text-align: left;
    height: 80vh;
  }
  #Services2 .backimage{
    display: block;
  }
  #Services2 .Frontimage{
    display: block;
  }
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  
}

